/* You can add global styles to this file, and also import other style files */

/* To make the texts un-draggable */
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/* To remove dotted lines from links during click, focus and active */
a {
   outline: 0;
}
